.chat-content-wrapper {
    display: flex;
    height: calc(100vh - 50px);

    .chat-sidebar {
        flex-basis: 30%;
        background: #154636;
        text-align: center;
        color: #fff;
        padding: 30px 10px;

        .title {
            margin: 0px;
        }

        .subtitle {
            margin: 5px;
        }

        .users-list {
            padding-top: 50px;

            .user {
                min-height: 30px;
                border: 1px solid #eee;
                position: relative;
                cursor: pointer;
                margin: 10px 0px;

                .status-circle {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: grey;
                    border: 1px solid #d6d6d6;
                    bottom: 5px;
                    right: 5px;
                    position: absolute;
                }
                
                .status-star {
                    position: absolute;
                    left: 5px;
                    bottom: 2px;
                    font-size: 12px;
                    cursor: pointer;
                }
            }
        }

        .logged-in-user {
            position: absolute;
            bottom: 5px;
            font-size: 12px;

            .delete-btn {
                width: 100%;
                padding: 5px 0px;
                border: none;
                background: #b50000;
                color: #fff;

                &:focus {
                    outline: none;
                }
            }

            span {
                padding-left: 10px;
                font-size: 18px;
            }
        }
    }
    
    .chat-content {
        flex-basis: 70%;
        text-align: center;
        padding: 20px 100px;

        .chat-user {
            font-size: 25px;
            font-weight: lighter;
            text-align: left;

            span {
                font-size: 12px;
                padding-right: 10px;
            }
        }

        .chat-window-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
    
            .chat-window {
                height: 700px;
                width: 100%;
                border: 1px solid #eee;
                overflow-y: auto;
                position: relative;
                padding: 0px 30px;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                
                .message-input {
                    position: sticky;
                    bottom: 5px;
                    width: 70%;
                    min-height: 30px;
                    border-radius: 25px;
                    border: 1px solid #eee;
                    padding-left: 20px;
                    font-family: 'Montserrat';

                    &.true {
                        position: absolute;
                        left: 50%;
                        width: 70%;
                        transform: translateX(-50%);
                    }

                    &:focus {
                        outline: none;
                    }
                }

                .message-wrapper {
                    display: grid;

                    .message-content {
                        position: relative;
                        min-height: 50px;
                        // background: #eee;
                        margin: 10px 0px;
                        clear: both;
                        justify-self: flex-start;
                        line-height: 30px;

                        &.true {
                            color: #285bb9;
                            justify-self: flex-end;
                        }

                        .message {
                            background: #eee;
                            border-radius: 25px;
                            padding: 0px 20px;
                            min-height: 30px;
                            

                            &.true {
                                color: #ffff;
                                background: #285bb9;
                                border-radius: 25px;
                                padding: 0px 20px;
                            }
                        }

                        .message-time {
                            font-size: 10px;
                            text-align: right;
                            padding-right: 10px;
                            margin: 0px;
                            transform: translateY(-12px);

                            &.false {
                                padding-right: 0px;
                                padding-left: 10px;
                                text-align: left;
                            }

                            span {
                                font-size: 12px;
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}