.register-wrapper{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;

    .register-container{
        margin: auto;
        height:300px;
        width: 500px;
        position: relative;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        .register{
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;

            .error-message {
                font-size: 12px;
                text-align: center;
                background: #bd3434;
                padding: 5px 0px;
                color: #fff;
            }

            .register-header {
                font-weight: 400;
                font-size: 26px;
                color: #383838;
                text-align: center;
            }

            .register-btn{
                margin-top: 10px;
                background: #15805e;
                border: none;
                padding: 5px;
                color: #fff;
                display: block;
                width: 100%;
            }
               .input{
                width: 95%;
                margin: 5px 0px;
                border: 1px solid #eee;
                padding: 8px 5px;
            }
        }
    

      
       
    }

    




}